<% wrap_layout :layout do %>
  <!-- Blog記事本文 -->
  <%= yield %>
  <!-- ソーシャルボタン -->
  <!-- comment box -->
  <div class="row">
    <div class="small-12 columns"></div>
      <div class="comment-box"></div>
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES * * */
          var disqus_shortname = 'ikuji-aboutny';
          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
          (function () {
              var s = document.createElement('script'); s.async = true;
              s.type = 'text/javascript';
              s.src = '//' + disqus_shortname + '.disqus.com/count.js';
              (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
          }());
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  </div>
  <!-- article pager -->
  <div class="row">
    <div class="small-4 columns"></div> <!--previous page-->
    <div class="small-4 columns"></div> <!--home-->
    <div class="small-4 columns"></div> <!--next page-->
  </div>
<% end %>
